html {
  min-height: 100%;
  position: relative;
}

body {
  background: black;
  background-image: url("https://github.com/Chris-Hesterman/ch-images/blob/master/butcher2.jpg?raw=true");
  background-position: 0px -50px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 5vw 0 5vw;
}

#butcher {
  color: red;
  font-family: 'Nosifer', cursive;
  font-size: 5rem;
  margin-bottom: 0;
  margin-top: 150px;
  text-shadow: 3px 3px 3px black;
}

#playlist {
  color: rgb(191, 5, 11);
  font-family: 'Uncial Antiqua', cursive;
  font-size: 4rem;
  margin-bottom: 20px;
  margin-top: 0; 
  text-align: center;
  text-shadow: 3px 3px 3px black;
}

.middle {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input {
  background: rgba(0, 0, 0, .8);
  border: 2px solid #990000;
  border-radius: 5px;
  color: red;
  font-size: 2rem;
  outline: none;
  padding: 5px;
  width: 500px;
}

input::placeholder {
  color: red;
}

#done {
  border: 2px solid #990000;
  background-color: #000000;
  box-shadow: 3px 3px 3px black;
  color: rgb(191, 5, 11);
  cursor: pointer;
  font-family: 'Nosifer', cursive;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2%;
  padding-top: 5px; 
}

button {
  border-radius: 5px;
  box-shadow: 1px 1px 3px grey;
  cursor: pointer;
  font-size: 1.2rem;
  outline: none; 
}

a#credits {
  color: red;
  font-size: 1.2rem;
  opacity: .5; 
}

footer {
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

ul {
  background-color: white;
  list-style-type: none;
  padding-top: 5%; 
}

li {
  color: black;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}

.liststyle {
  margin-left: 5%;
  text-align: left;
}

.class1 {
  font-size: 6.5rem;
}
.class2 {
  font-size: 3rem;
}
.class3 {
  font-size: 5rem;
}

@media (max-width: 1024px) {
  #butcher {
    font-size: 6rem;
  }
  #playlist {
    font-size: 5rem;
  }
  body {
    background-position: -650px -50px;
  }
  input {
    font-size: 3rem;
    width: 75vw; 
  }
}

@media (max-width: 768px) {
  body {
    background-position: -400px -50px;
  }
  #butcher {
    font-size: 5rem;
  }
  #playlist {
    font-size: 4rem;
  }
  input {
    font-size: 2.25rem;
  }
}

@media (max-width: 700px) {
  #butcher {
    font-size: 3rem;
    margin-top: 90px;
  }
  #playlist {
    font-size: 2.25rem;
  }
  input {
    font-size: 1.25rem;
  }
  #done {
    font-size: 1.25rem;
  }
}

@media (max-width: 400px) {
  body {
    background-position: -300px -30px;
  }
  #butcher {
    font-size: 2.25rem;
  }
  #playlist {
    font-size: 1.8rem;
  }
  input {
    font-size: .95rem;
  }
  #done {
    font-size: 1rem;
  }
}

@media only screen 
  and (device-width : 375px) 
  and (device-height : 812px) 
  and (-webkit-device-pixel-ratio : 3) {
    body {
    background-position: -450px -50px;
    }
    #butcher {
      font-size: 2.7rem;
      margin-top: 90px;
    }
    #playlist {
      font-size: 2.2rem;
    }
    input {
      font-size: 1.13rem;
    }
}

